@use "sass:map";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

@import "bootstrap/scss/forms/form-select";
@import "bootstrap/scss/card";

@import "./github-link";

[data-theme="dark"] .dark-mode-invert {
  filter: invert(90%) hue-rotate(180deg);
}

[data-theme="light"] .light-mode-invert {
  filter: invert(90%) hue-rotate(180deg);
}

.pointer {
  cursor: pointer;
}
