# See https://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.json]
indent_style = tab

[*.md]
max_line_length = 0

[*.py]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0

[Makefile]
indent_style = tab
