# Workspace
/.vscode-test/

# Packages
/packages/*/out/
/packages/*/dist/
/packages/*/build/
/packages/app-web-docs/.docusaurus/
/packages/*/tsconfig.tsbuildinfo

# Test runner subset config
/packages/test-runner/testSubsetGrep.properties
/packages/test-runner/failedTests.properties

# Cursorless Neovim
/cursorless.nvim/node/cursorless-neovim/
/cursorless.nvim/node/test-runner/

# Anywhere
node_modules/
.DS_Store
.luacheckcache
