# Workspace
/.vscode-test/

# Packages
/packages/*/out/
/packages/*/dist/
/packages/app-web-docs/.docusaurus/
/packages/app-neovim/cursorless.nvim/node/cursorless-neovim/
/packages/app-neovim/cursorless.nvim/node/test-runner/
/packages/*/tsconfig.tsbuildinfo
/packages/test-runner/testSubsetGrep.properties
/packages/test-runner/failedTests.properties

# Anywhere
node_modules/
*.vsix
.DS_Store
.luacheckcache
