# Every file must be listed in one of the sections below. To add a new file
# type, add it to the appropriate section below, changing only the pattern at
# the start of the line.

# The rule below does the following:
#
# - Conservatively sets `!text` so that we don't inadvertantly convert CRLF to
#   LF in a binary file with an unknown extension.
# - Sets cursorless.missing, which is a custom attribute that we use to detect
#   that the file is missing from the list below.  This is used by the
#   `check-gitattributes` script to detect missing files.
* !text cursorless.missing

# Text files go here
*.browserslistrc text eol=lf !cursorless.missing
*.cpp text eol=lf !cursorless.missing
*.cs text eol=lf !cursorless.missing
*.css text eol=lf !cursorless.missing
*.csv text eol=lf !cursorless.missing
*.cursorless-snippets text eol=lf !cursorless.missing
*.editorconfig text eol=lf !cursorless.missing
*.git-blame-ignore-revs text eol=lf !cursorless.missing
*.gitattributes text eol=lf !cursorless.missing
*.gitignore text eol=lf !cursorless.missing
*.gitkeep text eol=lf !cursorless.missing
*.html text eol=lf !cursorless.missing
*.java text eol=lf !cursorless.missing
*.js text eol=lf !cursorless.missing
*.json text eol=lf !cursorless.missing
*.md text eol=lf !cursorless.missing
*.mjs text eol=lf !cursorless.missing
*.npmrc text eol=lf !cursorless.missing
*.prettierignore text eol=lf !cursorless.missing
*.prettierrc text eol=lf !cursorless.missing
*.py text eol=lf !cursorless.missing
*.scala text eol=lf !cursorless.missing
*.scss text eol=lf !cursorless.missing
*.sh text eol=lf !cursorless.missing
*.talon text eol=lf !cursorless.missing
*.toml text eol=lf !cursorless.missing
*.ts text eol=lf !cursorless.missing
*.tsx text eol=lf !cursorless.missing
*.txt text eol=lf !cursorless.missing
*.vscodeignore text eol=lf !cursorless.missing
*.webmanifest text eol=lf !cursorless.missing
*.xml text eol=lf !cursorless.missing
*.yaml text eol=lf !cursorless.missing
*.yarnrc text eol=lf !cursorless.missing
*.yml text eol=lf !cursorless.missing
CODEOWNERS text eol=lf !cursorless.missing
LICENSE text eol=lf !cursorless.missing
packages/cursorless-org/scripts/mac-serve-bind-external text eol=lf !cursorless.missing

# Binary files go here
*.gif binary !cursorless.missing
*.ico binary !cursorless.missing
*.jpeg binary !cursorless.missing
*.jpg binary !cursorless.missing
*.png binary !cursorless.missing
*.ttf binary !cursorless.missing
*.woff binary !cursorless.missing

# Files that should not undergo line ending normalisation but should still be
# diffed as text go here
*.patch -text !cursorless.missing
*.svg -text !cursorless.missing
