**
!CHANGELOG.md
!LICENSE
!NOTICE.md
!README.md
!build-info.json
!cursorless-nx/dist/apps/cheatsheet-local/index.html
!cursorless-snippets/**
!dist/extension.js
!fonts/cursorless-glyph.svg
!fonts/cursorless.woff
!images/hats/**
!images/icon.png
!package.json
!schemas/**
!third-party-licenses.csv
