**
!CHANGELOG.md
!LICENSE
!NOTICE.md
!README.md
!build-info.json
!cursorless-snippets/**
!dist/assets/cheatsheet-local/index.html
!dist/extension.js
!images/hats/**
!images/icon.png
!package.json
!schemas/**
!third-party-licenses.csv
