[tool.black]
target-version = ["py39"]
force-exclude = '''
(
  ^/vendor/
  | ^/data/playground/
)
'''

[tool.ruff]
select = ["E", "F", "C4", "I001", "UP", "SIM"]
ignore = ["E501", "SIM105", "UP035"]
target-version = "py39"
extend-exclude = ["vendor", "data/playground/**/*.py"]

[tool.pyright]
reportSelfClsParameterName = false
