[tool.black]
target-version = ["py311"]
force-exclude = '''
(
  ^/vendor/
  | ^/data/playground/
)
'''

[tool.ruff]
lint.select = ["E", "F", "C4", "I001", "UP", "SIM"]
lint.ignore = ["E501", "SIM105", "UP007", "UP035"]
target-version = "py311"
extend-exclude = ["vendor", "data/playground/**/*.py"]

[tool.pyright]
reportSelfClsParameterName = false
