@tailwind components;
@tailwind base;
@tailwind utilities;

:root {
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
  --safe-area-inset-right: env(safe-area-inset-right);
}

@font-face {
  font-family: "Inconsolata-SemiExpanded";
  font-style: normal;
  font-weight: 300;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata_SemiExpanded-Light.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata-SemiExpanded";
  font-style: normal;
  font-weight: 400;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata_SemiExpanded-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata-SemiExpanded";
  font-style: normal;
  font-weight: 500;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata_SemiExpanded-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata-SemiExpanded";
  font-style: normal;
  font-weight: 600;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata_SemiExpanded-SemiBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata-SemiExpanded";
  font-style: normal;
  font-weight: 700;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata_SemiExpanded-Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata-SemiExpanded";
  font-style: normal;
  font-weight: 800;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata_SemiExpanded-ExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 300;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata-Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata-SemiBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  font-stretch: 1% 500%; /* Required by Chrome */
  src:
    local(""),
    /* Modern Browsers */ url("/fonts/Inconsolata-Bold.ttf") format("truetype");
}
