@import "bootstrap/dist/css/bootstrap.min.css";

/* stylelint-disable custom-property-pattern */

:root {
  --bs-body-color: var(--vscode-foreground);
  --bs-body-bg: var(--vscode-sideBar-background);
}

body {
  padding: 0 0.5rem;
}

code,
.btn-link {
  color: inherit;
}

.btn-link:hover,
.btn-link:focus-visible {
  color: var(--vscode-textLink-activeForeground);
}

.tutorial-progress {
  height: 0.625rem;
  background-color: var(--vscode-welcomePage-progress\.background);
}

.tutorial-progress > .progress-bar {
  background-color: var(--vscode-welcomePage-progress\.foreground);
}

.tutorial-step-counter {
  font-size: 0.625rem;
}

h1.has-error {
  color: var(--vscode-walkthrough-stepTitle\.foreground);
}
