/* Range highlights */
/* https://github.com/cursorless-dev/cursorless/blob/a9affbb83a0d81476760c5c4fdd5b67c8162ae25/packages/cursorless-vscode/package.json#L560-L581 */

.code-highlight-domain {
  background-color: #00e1ff18;
  border: 1px solid #ebdeec84;
}

.code-highlight-content {
  background-color: #ad00bc5b;
  border: 1px solid #ee00ff78;
}

.code-highlight-removal {
  background-color: #ff00002d;
  border: 1px solid #ff000078;
}

.code-highlight-iteration {
  background-color: #00725f6c;
  border: 1px solid #00ffd578;
}

.code-container {
  position: relative;
  width: 100%;
  counter-reset: line;
}

.code-container .line {
  margin-left: 1.5rem;
  position: relative;
}

.code-container .line::before {
  content: counter(line);
  counter-increment: line;
  position: absolute;
  left: -40px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 1rem;
  text-align: right;
  height: 135%;
  color: rgba(115, 138, 148, 0.4);
  border-right: 1px solid rgba(115, 138, 148, 0.4);
}

.code-container:hover .code-copy-button {
  display: block;
}

.code-copy-button {
  display: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  background-color: rgb(216, 222, 233);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
}
