name: Deploy docs

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.CURSORLESS_BOT_TOKEN }}
      - name: Configure GPG Key
        run: |
          echo -n "$GPG_SIGNING_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{ secrets.CURSORLESS_BOT_GPG_SIGNING_KEY }}
      - name: git config
        run: |
          git config user.name cursorless-bot
          git config user.email 98099035+cursorless-bot@users.noreply.github.com
          git config user.signingkey A9387720AFC62221
          git config commit.gpgsign true
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: yarn
      - run: ./docs-build.sh
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.CURSORLESS_BOT_TOKEN }}
          publish_dir: ./website/build/
          