name: Run Tests
permissions: read-all
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        vscode_version: [stable]
        include:
          - os: ubuntu-latest
            vscode_version: legacy
    runs-on: ${{ matrix.os }}
    env:
      VSCODE_VERSION: ${{ matrix.vscode_version }}
      VSCODE_CRASH_DIR: ${{ github.workspace }}/artifacts/dumps
      VSCODE_LOGS_DIR: ${{ github.workspace }}/artifacts/logs
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - run: mkdir -p "${{ env.VSCODE_CRASH_DIR }}" "${{ env.VSCODE_LOGS_DIR }}"
        shell: bash
      - run: pnpm install
      - run: pnpm compile
      - run: pnpm build
      - run: bash -x scripts/assemble-website.sh
      - run: xvfb-run -a pnpm test
        if: runner.os == 'Linux'
      - run: pnpm test
        if: runner.os != 'Linux'
      - name: Archive logs
        uses: actions/upload-artifact@v3
        with:
          name: logs
          path: ${{ env.VSCODE_LOGS_DIR }}
        if: failure()
      - name: Archive dumps
        uses: actions/upload-artifact@v3
        with:
          name: dumps
          path: ${{ env.VSCODE_CRASH_DIR }}
        if: failure()
